body{
    padding: 0;
    margin:0;
}
header{header 
   
    outline: 2px;
    
   
    text-align: center;
  }
  
  header menu > div {
    
    outline: 1px ;
    
   
    display: inline-block;
    
   
    font-size: 18px;
    
    
    text-transform: uppercase;
    
    
    padding: 20px;
    
    
    color:#16a085;
    
    
    cursor: pointer;
  }
  
  
  header menu > div:hover {
    text-decoration: underline;
  }
section {background: url(./img/top-img.jpg) no-repeat center top / cover ;
    height: 800px;
    width: 1356px;
    margin-top: 2%;}
    .button{width: 180px;	height: 60px; 
        background: #00FFFF; 
       border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    
}
.text{
text-align: center; }
footer{
text-align: right;
}
      