.container{width: 1366px;
 margin: 0;}
.header{
background-image: url(./img/background.png);
background-repeat: no-repeat;
background-size: cover;
width: 1366px;
height: 768px;
}
.logo{padding-left: 155px;
padding-top: 49px;
width: 46px;
height: 44px;
float: left;
}

.logo-text{margin-left: 15px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left; 
    }
    .milan{font-family: Verdana;
        color:  #ffffff;
        font-size: 29px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;

    }
    .holidays{font-family: Verdana;
        color:  #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize
    }