#content {
	width: 1280px;
    margin: auto;
    text-align: center;
}

header {
    padding: 20px 0;
    text-align: left;
}

header a {
	font-size: 60px;
	text-decoration: none;
	color: #4bcaff;
}

header span {
	color: black;
}

section{
	display: inline-block;
}

nav li {
	list-style-position: inside;
}

li a {
	text-decoration: none;
}

.top-menu {
	padding: 0;
    margin: 0;
}

.top-menu li {
	display: inline-block;
	margin: 0;
}

.top-menu li a {
	padding: 0 30px;
	line-height: 69px;
	color: white;
	font-size: 24px;
	text-transform: capitalize;
	display: inline-block;
	border-width: 1px;
	border-color: transparent;
	border-style: none solid;
}

.top-menu li a:hover {
	border-color: white;
	background-color: #222f3a;
}

.top-menu{
	background-color:  #35444f;
	width: 1280px;
	height: 69px;
	color: white;
}

.aside-menu li {
	font-weight: 300;
	text-align: left;
	text-decoration: none;
}

#photo {
	float: right;
	width: 70%;
}

aside {
	width: 20%;
	background: #ffffff;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
	border: 1px solid black;
	float: left;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

.foot-menu{
	background-color:  #35444f;
	text-align: center;
	color: #e7e7e7;
	width: 1280px;
	height: 69px;
	margin: 0 auto;
	line-height: 69px;
	text-align: right;
}

.foot-menu p{
	padding-right: 40px;
}
